:root {
  --primary-color: #369;
  --secondary-color: #63c;
  --dark-grey: #2b2b2b;
  --light-grey: #d3d3d3;
  --visited-color: #05676e;
  --active-color: #489c79;
  --button-border-bottom-color: rgba(0, 0, 0, 0.3);
  --bold: 700;
  --standard: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--standard);
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  color: var(--dark-grey);
  font-size: 26px;
  font-weight: var(--bold);
}

ul {
  margin: 0;
}

li {
  margin: 12px;
}

.character-list {
  list-style-type: none;
  padding: 0;
}

.character-button {
  background-color: #855cd6;
  border-color: #a485e0;
}

.character-button:focus,
.character-button:hover,
.character-button:active {
  background-color: #a485e0;
  border-color: #b399e5;
  box-shadow: none;
}

.character-button:active {
  background-color: #a485e0;
  border-color: #b399e5;
}

.character-list-section {
  margin: 90px auto;
  max-width: 300px;
}
